<app-navigation></app-navigation>
<h1>Bienvenido a <b>Control de tareas Domésticas</b></h1>
<ul>
    <li><a href="https://github.com/Re-21-12/BackEnd-ApiNotion-Proxy">Back-End en GitHub</a></li>
    <li><a href="https://github.com/Re-21-12/Front-End-APINotionProyect">Front-End en GitHub</a></li>
    <li><a href="https://github.com/Re-21-12/Front-End-APINotionProyect/blob/main/README.md">Documentacion en GitHub</a></li>

    <li class="video-container">
        <iframe  src="https://www.youtube.com/embed/vf9qIacbdcw" frameborder="0" allowfullscreen></iframe>
    </li>
</ul>
    
<app-footer></app-footer>
