<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6>¿Tienes alguna duda?</h6>
      </div>
      <div class="col-md-6">
        <ul class="social-links">
          <li>
            <a href="https://github.com/Re-21-12"
              ><i class="fab fa-github" ></i>Mi Github</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCNl6dyQ9Zl7kniUkkbIcpdw"
              ><i class="fab fa-youtube">YT Channel</i></a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/cafe_con_edulcorante/"
              ><i class="fab fa-instagram">IG Contact</i></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
